.main-text {
    font-family: 'PT Serif', serif;
}

.logo-name {
    font-family: 'PT Serif', serif;
}

.main-description {
    font-family: 'Roboto', sans-serif;
}

.navigation {
    font-family: 'Roboto', sans-serif;
}

.button {
    font-family: 'Roboto', sans-serif;
}



